@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
	display: contents;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: 'wdth' 100;

	color: var(--text-dark);
}

* {
	color: inherit;
}

button,
input {
	outline: none;
	border-radius: 5px;
	background: none;
	padding: 5px 1em;

	&:focus {
		outline: 2px solid #0d6efd;
	}
}

button,
input[type='submit'],
.border-theme {
	border: 2px solid var(--theme-primary);
}

button,
input[type='submit'] {
	cursor: pointer;
	transition: scale 50ms ease-in-out;

	&:active {
		scale: 0.95;
	}
}

.font-bold {
	font-weight: 600;
}
