form {
	display: grid;
	width: max-content;
	align-items: center;
	row-gap: 5px;
	column-gap: 1em;

	grid-auto-rows: 1fr;
	grid-template-columns: auto auto;
}

input {
	justify-self: flex-start;
}

.submit {
	grid-column: 1 / 3;
	width: 100%;
	font: inherit;

	outline: none;
	border: 2px solid var(--theme-primary);
	border-radius: 5px;
	background: none;
	padding: 5px 1em;
	cursor: pointer;

	transition: scale 50ms ease-in-out;
}

input:focus {
	outline: 2px solid var(--outline);
}

.submit:active {
	scale: 0.95;
}
